body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:18px;
  top:140px;
  width:980px;
  height:730px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:18px;
  top:110px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:166px;
  top:407px;
  width:429px;
  height:44px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:8px;
  width:351px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:31px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:7px;
  top:12px;
  width:83px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:80px;
  top:12px;
  width:90px;
  height:22px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:44px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:8px;
  width:361px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:7px;
  top:14px;
  width:83px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:12px;
  width:90px;
  height:22px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:192px;
  top:14px;
  width:83px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:265px;
  top:12px;
  width:90px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19 {
  position:absolute;
  left:0px;
  top:47px;
  width:1200px;
  height:42px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:43px;
}
#u20 {
  position:absolute;
  left:2px;
  top:13px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:2px;
  width:1200px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:43px;
}
#u22 {
  position:absolute;
  left:2px;
  top:13px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:44px;
  top:3px;
  width:40px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:762px;
  top:3px;
  width:248px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:95px;
  top:8px;
  width:105px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:87px;
  width:1170px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:1161px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1170px;
  height:2px;
}
#u30 {
  position:absolute;
  left:45px;
  top:87px;
  width:45px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:36px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:4px;
  width:45px;
  height:2px;
}
#u31 {
  position:absolute;
  left:51px;
  top:60px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:408px;
  top:60px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:303px;
  top:60px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:140px;
  top:60px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:230px;
  top:60px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:762px;
  top:58px;
  width:248px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42 {
  position:absolute;
  left:250px;
  top:228px;
  width:100px;
  height:35px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43 {
  position:absolute;
  left:247px;
  top:289px;
  width:385px;
  height:29px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:29px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44 {
  position:absolute;
  left:174px;
  top:293px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:248px;
  top:326px;
  width:286px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:151px;
  top:355px;
  width:94px;
  height:16px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:250px;
  top:351px;
  width:382px;
  height:29px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:29px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51 {
  position:absolute;
  left:250px;
  top:384px;
  width:311px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:174px;
  top:463px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:188px;
  top:509px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:174px;
  top:554px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:188px;
  top:695px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:269px;
  top:768px;
  width:130px;
  height:38px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:249px;
  top:463px;
  width:115px;
  height:29px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u63 {
  position:absolute;
  left:250px;
  top:549px;
  width:389px;
  height:86px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:86px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u64 {
  position:absolute;
  left:249px;
  top:506px;
  width:115px;
  height:29px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65 {
  position:absolute;
  left:249px;
  top:690px;
  width:109px;
  height:29px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u66 {
  position:absolute;
  left:370px;
  top:690px;
  width:70px;
  height:29px;
  color:#666666;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:255px;
  top:558px;
  width:412px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:18px;
  top:140px;
  width:980px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:24px;
  text-align:left;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:48px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:976px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:22px;
  top:900px;
  width:716px;
  height:120px;
  line-height:24px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:121px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:209px;
  top:742px;
  width:190px;
  height:16px;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:27px;
  top:1080px;
  width:962px;
  height:96px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:96px;
}
#u77 {
  position:absolute;
  left:2px;
  top:40px;
  width:958px;
  visibility:hidden;
  word-wrap:break-word;
}
